h1{
    color: rgb(0, 0, 0);
    font-size: 10vh;
    font-family: hit, sans-serif;
    text-align: center;

}

.modebar-container{
    display: none;
    cursor: none;
}

#myDiv{
    display: block;
    margin: 0 auto;
    transition: width 2s ease-in-out;
}
