h1{
    color: rgb(0, 0, 0);
    font-size: 10vh;
    font-family: hit, sans-serif;
    text-align: center;

}

body {
    --spacing: 24px;

    font-family: sans-serif;
    padding: var( --spacing);
    display: grid;
    gap: calc(var(--spacing) * 2);
}

@media (min-width: 600px) {
    body { 
        --spacing: 32px;
    }
}

label { opacity: 50%; }

select, ul {
    background-color: #eee;
    border-radius: calc(var(--spacing) / 4);
}

select {
    margin-left: calc(var(--spacing) / 4);
    padding: calc(var(--spacing) / 4);
    text-align: center;
    width: fit-content;
}

#graph {
    /* Add up the individual counts, from the JS. */
    --total: calc(var(--gray) + var(--cinnamon) + var(--black) + var(--undefined));

    display: flex;
    height: calc(var(--spacing) * 3);
    overflow: hidden;
    list-style-type: none;
}

/* Ease the widths, when we change via dropdown. */
#graph li { 
    transition: width 1s ease-in-out;
    border-right: 3px solid #eee;
}

/* Calculate from the JS variable. */
#graph .gray { width: calc(var(--gray) / var(--total) * 100%); }
#graph .cinnamon { width: calc(var(--cinnamon) / var(--total) * 100%); }
#graph .black { width: calc(var(--black) / var(--total) * 100%); }

.gray { background-color: gray; }
.cinnamon { background-color: #a51; }
.black { background-color: #444; }