body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    /* height: 100vh; */
}

h1{
    color: white;
    font-size: 1100%;
    font-family: hit, sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 20vh;
    position: relative;
    z-index: 1;
}

h6{
    color: white;
    font-size: 150%;
    text-align: center;
    top: -20vh;
    padding: 10vh;
    font-family: "malaga", serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 2;
}

section{
    height: 100%;
    width: 100%;
}

.red{
    position: absolute;
    top: 0;
    left: 10vw;
    height: 100vh; 
    background:#DD2929;
    width: 70px;
}

.green{
    position: absolute;
    top: 0;
    left: 30vw;
    height: 100vh; 
    background:#6CBE45;
    width: 70px;
}

.orange{
    height: 100vh; 
    background:#FF6319;
    position: absolute;
    top: 0;
    left: 60vw;
    width: 70px;
}

.yellow{
    height: 100vh; 
    background:#FCCC0A;
    position: absolute;
    top: 0;
    left: 70vw;
    width: 70px;
}

.darkGreen{
    height: 100vh; 
    background:#5E9236;
    position: absolute;
    top: 0;
    left: 90vw;
    width: 70px;
}

.blue{
    width: 100%; 
    height: 70px;
    background: #00ADD0;  
    position: absolute;
    top: 85vh;
    left: 0;
}

.darkBlue{
    width: 100%; 
    height: 70px;
    background: #0039A6;  
    position: absolute;
    top: 40vh;
    left: 0;
}

.purple{
    width: 100%; 
    height: 70px;
    background: #B933AD;  
    position: absolute;
    top: 10vh;
    left: 0;
}


ul{
    flex-direction: row;
    margin-top: 48px;
    color:rgb(204, 192, 192);
    border-radius: 6px;
    list-style-type: none;
}

li{
    padding: 12px;
}

p{
    color: white;
}