body{
    background-color: rgb(222, 249, 249);
}

h1{
    text-align: center;
    font-size: 50px;
    color: indigo;
    font-family: 'Syncopate', sans-serif;
    line-height: 0;
    position: relative;

}

h2{
    text-align: center;
    font-size: 50px;
    color: rgb(156, 180, 241);
    font-family: 'Syncopate', sans-serif;
    line-height: 0;
    position: relative;

}

a{
    font-size: 25px;
    color: mediumseagreen;
}

h4{
    text-align: center;
    font-size: 40px;
    color:darkcyan;
    font-family: 'Syncopate', sans-serif;
    line-height: 5px;
}

hr {
    border: none;
    border-top: 10px dotted rgb(242, 255, 142);
    height: 1px;
    width: 80%;
}