body{
    background-color: aliceblue;
}

h1{
    color: blue;
    font-size: 50px;
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    line-height: 5px;
}

h3{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Bodoni Moda', serif;
    line-height: 5px;
}

P{
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Bodoni Moda', serif;
    line-height: 5px;
}
