body{
    background: black;
    height: 100vh;
    width: 100vh;
}

/* .sphere{
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    animation: floating 3s infinite alternate ease-in-out;
}

.sphere:hover{
    animation-play-state: paused;
    cursor: pointer;
} */

/* @keyframes floating{
    0%{
        transform: translateY(0);
        transform: scale(1);
        filter: blur(0);
        transform: translateX(0);
    }
    100%{
        transform: translateY(100vh);
        transform: scale(2);
        filter: blur(100px);
        transform: translateX(100vh);
    }
} */

#hexagon{
    width: 100vh;
    margin-left: 20vh;
    animation: hexagonSpin 5s infinite;
}

#oval{
    width: 100vh;
    margin-left: 20vh;
    animation: hexagonSpin 5s infinite;
}

#long{
    width: 100vh;
    animation: hexagonSpin 5s infinite;
}

#wide{
    width: 100vh;
    animation: hexagonSpin 5s infinite;
}

#star{
    width: 100vh;
    animation: hexagonSpin 5s infinite;
}

p{
    justify-content: center;
    display: flex;
}

.cls-1{
    animation: yellow 2s infinite;
}

.cls-2{
    animation: blue 2s infinite;
}

.cls-3{
    animation: green 2s infinite;
}

.cls-4{
    animation: red 2s infinite;
}

.cls-5{
    animation: pink 2s infinite;
}

.cls-6{
    animation: teal 2s infinite;
}

.cls-7{
    animation: orange 2s infinite;
}

.cls-8{
    animation: crimson 2s infinite;
}

.cls-9{
    animation: lightgreen 2s infinite;
}

@keyframes hexagonSpin{
    0%{
        transform: rotate(0turn);
        opacity: 0;
    }
    100%{
        transform: rotate(1turn);
        opacity: 1;
    }
}

@keyframes yellow{
    0%{
        fill: default;
    }
    100%{
        fill: yellow;
    }
}

@keyframes blue{
    0%{
        fill: default;
    }
    100%{
        fill: blue;
    }
}

@keyframes green{
    0%{
        fill: default;
    }
    100%{
        fill: green;
    }
}

@keyframes red{
    0%{
        fill: default;
    }
    100%{
        fill: red;
    }
}

@keyframes pink{
    0%{
        fill: default;
    }
    100%{
        fill: pink;
    }
}

@keyframes teal{
    0%{
        fill: default;
    }
    100%{
        fill: teal;
    }
}

@keyframes orange{
    0%{
        fill: default;
    }
    100%{
        fill: orange;
    }
}

@keyframes crimson{
    0%{
        fill: default;
    }
    100%{
        fill: crimson;
    }
}

@keyframes lightgreen{
    0%{
        fill: default;
    }
    100%{
        fill: lightgreen;
    }
}