<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../common/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <h1>Layouts</h1>
    </header>
    <main>
        <figure class="one">
            <div id="defilm">
                <p class="red">Kunstgewerbemuseum Zürich</p>
                <p class="bottom">Asstellung</p>
                <div id="element-1" class="element">der</div>
                <div id="element-2" class="element">Film</div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <p class="bottom">10.Januar bis 30. April 1960</p>
                <br> <br>
                <p class="bottom">Offen: Montag 14-18, 20-22</p>
                <p class="bottom">Dienstag-Freitag 10-12, 14-18, 20-22 </p>
                <p class="bottom">Samstag-Sonntag 10-12, 14-17</p>
            </div>
            <figcaption id="tombstone1">
                <h1>Der Film</h1>
                <p>Josef Müller-Brockmann; 1960</p>
                <a href="https://www.moma.org/collection/works/4882">See Original ⇢</a>
            </figcaption>
            </figure>
        

        <figure class="two">
            <div id="death">
                <div class="triangle"></div>
                <h2>SILENCE=DEATH</h2>
                <p class="sentence">Why is Reagan silent about AIDS? What is really going on at the Center for Disease Control, the Federal Drug Administration, and the Vatican?</p>
                <p class="end">Gays and lesbians are expendable...Use your power...Vote...Boycott...Defend yourself...Turn anger, fear, grief into action.</p>
            </div>
            <figcaption id="tombstone2">
            <h1>SILENCE=DEATH</h1>
            <p>Avram Finkelstein, Brian Howard, Oliver Johnston, Charles Kreloff, Chris Li; 1987</p>
            <a href="https://www.brooklynmuseum.org/opencollection/objects/159258">See Original ⇢</a>
        </figcaption>
    </figure>


        <figure class="three">
            <figcaption id="tombstone3">
            <h1>Herman Miller Summer Picnic</h1>
            <p>Stephen Frykholm; 1976</p>
            <a href="https://www.moma.org/collection/works/5927?artist_id=2019&page=1&sov_referrer=artist">See Original ⇢</a>
        </figcaption>
    </figure>
    </main>
    
</body>
</html>