@import url('https://use.typekit.net/ssy4dxa.css');
body{
    background-color: white;
    padding: 5vh;
}

header{
    margin-bottom: 10vh;
}

header{
    text-align: center;
    font-size: 8vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    row-gap: 11vh;
}

figure.one{
    height: 80vh;
    width: 60vh;
    background: rgb(2, 2, 24);
    margin: 0 auto;
}

.red{
    color:darkred;
    font-size: 1.5vh;
    justify-content: center;
    text-align: center;
    font-family: Helvetica;
    font-weight: 500;
    text-align: justify;
    margin-left: 17vh;
    padding-top: 3vh;
}

.next{
  color:darkred;
  font-size: 1.5vh;
  justify-content: center;
  text-align: center;
  font-family: Helvetica;
  font-weight: 500;
  text-align: justify;
  margin-left: 17vh;
  padding-top: .5vh;
}

.element{ 
    font-size: 24vh; 
    position: absolute; 
    text-align: center;
    margin-top: 35vh;
    letter-spacing: -10px;
  }

  #element-1{ 
    color:rgb(82, 248, 187); 
    z-index: 1;
    margin-left:1vh;
    font-family: Helvetica;
    justify-content: center;
    text-align: center; 
  }
  
  #element-2{ 
    color:rgb(208, 230, 180);
    margin-left: 18vh;
    z-index: 2; 
    font-family: Helvetica;
    justify-content: center;
    text-align: center;
  }
  
.bottom{
    color:darkred;
    font-size: 1.5vh;
    justify-content: center;
    text-align: center;
    font-family: Helvetica;
    font-weight: 500; 
    text-align: justify;
    margin-left: 17vh;
    padding-top: 18vh;
}

.one{
  color:darkred;
  font-size: 1.5vh;
  justify-content: center;
  text-align: center;
  font-family: Helvetica;
  font-weight: 500; 
  text-align: justify;
  margin-left: 17vh;
  padding-top: 3vh;
}

.two{
  color:darkred;
  font-size: 1.5vh;
  justify-content: center;
  text-align: center;
  font-family: Helvetica;
  font-weight: 500; 
  text-align: justify;
  margin-left: 17vh;
  padding-top: 1vh;
}

.three{
  color:darkred;
  font-size: 1.5vh;
  justify-content: center;
  text-align: center;
  font-family: Helvetica;
  font-weight: 500; 
  text-align: justify;
  margin-left: 17vh;
  padding-top: 1vh;
}

figcaption#tombstone1{
    padding-top: 4vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 2vh;
}

figure.two{
    height: 77vh;
    width: 57vh;
    background: black;
    border: 2vh solid pink;
    margin: 0 auto;
}

h2{
    font-size: 12vh;
    color: rgb(248, 228, 228);
    margin-top: 21vh;
    font-family: "gill-sans-nova-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -4px;
    text-align: center;
}

.sentence{
    font-size: 1vh;
    color: rgb(248, 243, 243);
    text-align: center;
    font-family: "gill-sans-nova-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.end{
    font-size: 1vh;
    color: rgb(248, 243, 243);
    text-align: center;
    font-family: "gill-sans-nova-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 1vh;
}

.triangle {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 0;
    border-bottom: 100px solid rgb(183, 112, 124);
    margin: 0 auto;
    padding-top: 24vh;
  }

figcaption#tombstone2{
    margin-top: 7vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 2vh;
}

figure.three{
    height: 80vh;
    width: 120vh;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(8, 1fr); 
    grid-column-gap: 0vh;
    grid-row-gap: 0vh; 
    border-radius: 5vh;
}

figure.three h4{
  font-family: cooper-black-std, serif;
  font-weight: 400;
  position: absolute;
  margin-left: 33vh;
  margin-top: 3vh;
  font-size: 1.5vh;
  color: black;
}

    /* row 1 */
    .div2 { 
      grid-area: 1 / 4 / 2 / 5;
      background-color: #D9C938;
    } 
    .div3 { 
      grid-area: 1 / 5 / 2 / 6; 
      background-color: #D9C938;
    } 
    .div4 { 
      grid-area: 1 / 6 / 2 / 7; 
      background-color: #D9C938;
    } 
    .div5 { 
      grid-area: 1 / 7 / 2 / 8; 
      background-color: #D9C938;
    } 
    .div6 { 
      grid-area: 1 / 8 / 2 / 9;
      background-color: #B3C257;
    } 
    .div7 { 
      grid-area: 1 / 9 / 2 / 10;
      background-color: #973823;
    } 
    
    .div8 { grid-area: 1 / 7 / 2 / 8; } 
    
    /* row 2 */
    .div9 { 
      grid-area: 2 / 4 / 3 / 5; 
      background-color: #B3C257;
    } 
    .div10 { 
      grid-area: 2 / 5 / 3 / 6;
      background-color: #B3C257;
    } 
    .div11 { 
      grid-area: 2 / 6 / 3 / 7;
      background-color: #B3C257;
    } 
    .div12 { 
      grid-area: 2 / 7 / 3 / 8; 
      background-color: #B3C257;
    } 
    .div13 { 
      grid-area: 2 / 8 / 3 / 9;
      background-color: #973823;
    } 
    .div14 { 
      grid-area: 2 / 9 / 3 / 10; 
      background-color: #973823;
    } 
    
    .div15 { grid-area: 2 / 7 / 3 / 8; } 
    
    .div16 { 
      grid-area: 3 / 4 / 4 / 5;
      background-color: #973823;
    } 
    .div17 { 
      grid-area: 3 / 5 / 4 / 6;
      background-color: #973823;
    } 
    .div18 { 
      grid-area: 3 / 6 / 4 / 7; 
      background-color: #973823;
    } 
    .div19 { 
      grid-area: 3 / 7 / 4 / 8; 
      background-color: #973823;
    } 
    .div20 { 
      grid-area: 3 / 8 / 4 / 9; 
      background-color: #973823;
    } 
    .div21 { 
      grid-area: 3 / 9 / 4 / 10;
      background-color: #D9C938;
    }
    
    .div22 { grid-area: 3 / 7 / 4 / 8; } 
    
    
    .div23 { 
      grid-area: 4 / 4 / 5 / 5; 
      background-color: #973823;
    } 
    .div24 { 
      grid-area: 4 / 5 / 5 / 6;
      background-color: #973823;
    } 
    .div25 { 
      grid-area: 4 / 6 / 5 / 7;
      background-color: #973823;
    } 
    .div26 { 
      grid-area: 4 / 7 / 5 / 8;
      background-color: #973823;
    } 
    .div27 { 
      grid-area: 4 / 8 / 5 / 9; 
      background-color: #D9C938;
    } 
    .div28 { 
      grid-area: 4 / 9 / 5 / 10; 
      background-color: #D9C938;
    }
    
    .div29 { grid-area: 4 / 7 / 5 / 8; }
    
    .div30 { 
      grid-area: 5 / 4 / 6 / 5;
      background-color: #973823;
    } 
    .div31 { 
      grid-area: 5 / 5 / 6 / 6;
      background-color: #973823;
    } 
    .div32 { 
      grid-area: 5 / 6 / 6 / 7; 
      background-color: #973823;
    } 
    .div33 { 
      grid-area: 5 / 7 / 6 / 8; 
      background-color: #D9C938;
    } 
    .div34 { 
      grid-area: 5 / 8 / 6 / 9;
      background-color: #D9C938;
    } 
    .div35 { 
      grid-area: 5 / 9 / 6 / 10; 
      background-color: #B51F0B;
    }
    
    .div36 { grid-area: 5 / 7 / 6 / 8; } 
    
    .div37 { 
      grid-area: 6 / 4 / 7 / 5;
      background-color: #BE8881;
    } 
    .div38 { 
      grid-area: 6 / 5 / 7 / 6;
      background-color: #BE8881;
    } 
    .div39 { 
      grid-area: 6 / 6 / 7 / 7; 
      background-color: #973823;
    } 
    .div40 { 
      grid-area: 6 / 7 / 7 / 8;
      background-color: #B3C257;
    } 
    .div41 { 
      grid-area: 6 / 8 / 7 / 9; 
      background-color: #D9C938;
    } 
    .div42 { 
      grid-area: 6 / 9 / 7 / 10;
      background-color: #D9C938;
    }
    
    .div43 { grid-area: 6 / 7 / 7 / 8; } 
    
    .div44 { 
      grid-area: 7 / 4 / 8 / 5;
      background-color: #BE8881;
    } 
    .div45 { 
      grid-area: 7 / 5 / 8 / 6;
      background-color: #BE8881;
    } 
    .div46 { 
      grid-area: 7 / 6 / 8 / 7;
      background-color: #F3CDC8;
    } 
    .div47 { 
      grid-area: 7 / 7 / 8 / 8; 
      background-color: #973823;
    } 
    .div48 { 
      grid-area: 7 / 8 / 8 / 9;
      background-color: #B3C257;
    } 
    .div49 { 
      grid-area: 7 / 9 / 8 / 10;
      background-color: #B3C257;
    }
    
    .div50 { grid-area: 7 / 7 / 8 / 8; }
    
    .div51 { 
      grid-area: 8 / 4 / 9 / 5;
      background-color: #BE8881;
    } 
    .div52 { 
      grid-area: 8 / 5 / 9 / 6;
      background-color: #BE8881;
    } 
    .div53 { 
      grid-area: 8 / 6 / 9 / 7; 
      background-color: #BE8881;
    } 
    .div54 { 
      grid-area: 8 / 7 / 9 / 8; 
      background-color: #F3CDC8;
    } 
    .div55 { 
      grid-area: 8 / 8 / 9 / 9;
      background-color: #973823;
    } 
    .div56 { 
      grid-area: 8 / 9 / 9 / 10; 
      background-color: #973823;
    } 
    
    .div57 { grid-area: 8 / 7 / 9 / 8;} 

figcaption#tombstone3{
    margin-top: -9vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 2vh;
}

figcaption a{
    color: red;
    text-decoration: none;
}
