body{
    margin: 20px;
}

section {
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
    gap: 4px;
}

header {
	background-color: rgb(141, 239, 245);
	grid-area: header;
    font-family: impact;
    font-size: 60px;
    text-align: center;
    padding: 10px;
}

main {
	background-color: rgb(65, 148, 212);
	grid-area: main;
    columns: 1;
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
    padding: 10px;
    align-items: center;
    overflow-y: scroll;
}

#yellow{
    background-color: rgb(255, 255, 19);
}

aside {
	background-color: rgb(44, 21, 225);
	grid-area: aside;
    padding: 10px;
}

#justify{
    text-align: justify;
    color: rgb(210, 206, 233);
    font-size: 20px;
}

footer {
	grid-area: footer;
    background-color: rgb(96, 72, 255);
    padding: 10px;
    text-align: center;
}

a{
    color: rgb(215, 209, 252);
    font-size: 20px;
    text-decoration: none;
}

@media (min-width: 600px) {
	section { 
        --columns: 6; 
      	grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: 100px 50vh 100px;
	    grid-template-areas:
		"header header header"
		"main   main   aside"
		"footer footer aside";
        gap: 7px; 
    }

    main{
        --columns: 5;
}
}

/* @media (min-width: 600px) {
	section { --columns: 8; }
} */