@import url('https://use.typekit.net/yol2pzl.css');

body{
    margin: 20px;
}

section {
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
    gap: 4px;
}

header {
	background-color: rgb(141, 239, 245);
	grid-area: header;
    font-family: impact;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid rgb(25, 0, 53);
    border-right: 3px solid rgb(25, 0, 53);
}

main {
	background-color: rgb(65, 148, 212);
	grid-area: main;
    columns: 1;
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid rgb(25, 0, 53);
    border-right: 3px solid rgb(25, 0, 53);
    font-family: "turnip", serif;
    font-weight: 200;
    font-style: normal;
    /* overflow-y: scroll; */
}

#yellow{
    background-color: rgb(255, 255, 19);
}

#text{
    font-family: june-expt-variable, sans-serif;
    text-align: center;
}

aside {
	background-color: rgb(44, 21, 225);
	grid-area: aside;
    padding: 10px;
    border-bottom: 3px solid rgb(25, 0, 53);
    border-right: 3px solid rgb(25, 0, 53);
    font-family: "turnip", serif;
    text-align: center;
    color: rgb(210, 206, 233);
    font-size: 20px;
}

/* #justify{
    text-align: justify;
    color: rgb(210, 206, 233);

} */

footer {
	grid-area: footer;
    background-color: rgb(96, 72, 255);
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid rgb(25, 0, 53);
    border-right: 3px solid rgb(25, 0, 53);
    font-family: "turnip", serif;
    letter-spacing: 2px;
}

a{
    color: rgb(215, 209, 252);
    font-size: 20px;
    text-decoration: none;
}

@media (min-width: 600px) {
	section { 
      	grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: 100px 40vh 350px;
	    grid-template-areas:
		"header header header"
		"main   main   aside"
		"footer footer aside";
        gap: 7px; 
    }
    header{
        font-size: 70px;
}


    main{
        --columns: 3;
        font-size: 20px;
}

    aside{
        font-size: 20px;
}

    footer{
        font-size: 20px;
}
}

@media (min-width: 1024px) {
	section { 
      	grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: 120px 50vh 100px;
	    grid-template-areas:
		"header header header"
		"main   main   aside"
		"footer footer aside";
        gap: 9px; 
    }
    header{
        font-size: 90px;
}

    main{
        --columns: 3;
        font-size: 25px;
        grid-gap: 20px;
}

    aside{
        font-size: 22.4px;
}

    footer{
        font-size: 30px;
}
}

@media (min-width: 1440px) {
	section { 
      	grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: 130px 50vh 100px;
	    grid-template-areas:
		"header header header"
		"main   main   aside"
		"footer footer aside";
        gap: 11px; 
    }
    header{
        font-size: 100px;
}

    main{
        --columns: 3;
        font-size: 30px;
        grid-gap: 13px;
}

    aside{
        font-size: 25.5px;
}

    footer{
        font-size: 40px;
}
}

/* @media (min-width: 600px) {
	section { --columns: 8; }
} */