*{
    margin: 20;
    background-color: black;
    font-family: bigmoore, serif;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
}

.polygon {
    width: 200px;
    height: 200px;
    float:left;
    background-color: black;
    shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    margin: 15px;
  } 

  .polyhexagon {
    width: 100px;
    height: 100px;
    float:right;
    background-color: black;
    shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    margin: 15px;
  } 

.hexagon {
  width: 50px;
  height: 50px;
  background-color:  #FDFD96;
  shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  margin: 15px;
  float: right;
}

p{
    color:  #FDFD96;
    font-size: 42.5px;
}

@media screen and (max-width:800px){
  .polygon{
    width: 100px;
    height: 100px;
  }

  .polyhexagon{
    width: 50px;
    height: 50px;
  }

  .hexagon{
    width: 20px;
    height: 20px;
  }
}
