*{
    margin: 20px;
    background-color: black;
    font-family: bigmoore, serif;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
}

.polyhexagon {
    width: 500px;
    height: 500px;
    float:right;
    background-color: black;
    shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    margin: 15px;
  } 

.hexagon {
  width: 50px;
  height: 50px;
  background-color: #FF6961;
  shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  margin: 15px;
  float: right;
}

p{
    color: #FF6961;
    font-size: 31px;
}

@media screen and (max-width:600px){

  .polyhexagon{
    width: 350px;
    height: 350px;
  }

  p{
    font-size: 22px;
  }
}



