body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    /* height: 100vh; */
}

h1{
    color: white;
    font-size: 1100%;
    font-family: hit, sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 20vh;
    position: relative;
    z-index: 1;
}

h6{
    color: white;
    font-size: 150%;
    text-align: center;
    top: -20vh;
    padding: 10vh;
    font-family: "malaga", serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 2;
}

section{
    height: 100%;
    width: 100%;
}

.info-card {
    position: absolute;
    z-index: 5;
    background-color: #F1E0E0;
    color: black;
    font-family: "malaga", serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px #aba6a6;
    width: 15vw;
}

.red{
    position: absolute;
    top: 0;
    left: 10vw;
    height: 100vh; 
    background:#DD2929;
    width: 70px;
}

.green{
    position: absolute;
    top: 0;
    left: 30vw;
    height: 100vh; 
    background:#6CBE45;
    width: 70px;
}

.orange{
    height: 100vh; 
    background:#FF6319;
    position: absolute;
    top: 0;
    left: 60vw;
    width: 70px;
}

.yellow{
    height: 100vh; 
    background:#FCCC0A;
    position: absolute;
    top: 0;
    left: 70vw;
    width: 70px;
}

.darkGreen{
    height: 100vh; 
    background:#00933C;
    position: absolute;
    top: 0;
    left: 90vw;
    width: 70px;
}

.blue{
    width: 100%; 
    height: 70px;
    background: #00ADD0;  
    position: absolute;
    top: 85vh;
    left: 0;
}

.darkBlue{
    width: 100%; 
    height: 70px;
    background: #0039A6;  
    position: absolute;
    top: 40vh;
    left: 0;
}

.purple{
    width: 100%; 
    height: 70px;
    background: #B933AD;  
    position: absolute;
    top: 10vh;
    left: 0;
}

.dot{
    background-color: #F1E0E0;
    width: 20px;
    height: 20px;
    border-radius: 100vw;
    cursor: pointer;
}

.flexVertical{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.flexHorizontal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.red1{
    position: absolute;
    top: 100vh;
    left: 10vw;
    height: 300vh; 
    background:#DD2929;
    width: 70px;
}

.red2{
    position: absolute;
    top: 400vh;
    left: 10vw;
    background:#DD2929;
    width: 90%; 
    height: 70px;
}

.green1{
    position: absolute;
    top: 100vh;
    left: 30vw;
    height: 50vh; 
    background:#6CBE45;
    width: 70px;
}

.green2{
    position: absolute;
    background:#6CBE45;
    width: 70%; 
    height: 70px;
    top: 141.5vh;
    left: 30vw;
}

.orange1{
    height: 150vh; 
    background:#FF6319;
    position: absolute;
    top: 100vh;
    left: 60vw;
    width: 70px;
}

.orange2{
    height: 70px; 
    background:#FF6319;
    position: absolute;
    top: 250vh;
    left: 60vw;
    width: 40%;
}

.yellow1{
    height: 250vh; 
    background:#FCCC0A;
    position: absolute;
    top: 100vh;
    left: 70vw;
    width: 70px;
}

.yellow2{
    height: 70px; 
    background:#FCCC0A;
    position: absolute;
    top: 350vh;
    right: 25.15vw;
    width: 100%;
}

.darkGreen1{
    height: 300vh; 
    background:#00933C;
    position: absolute;
    top: 100vh;
    left: 90vw;
    width: 70px;
}

.purple1{
    height: 70px; 
    background:#B933AD;
    position: absolute;
    top: 180vh;
    left: 0vw;
    width: 100%;
}

.darkBlue1{
    height: 70px; 
    background:#0039A6;
    position: absolute;
    top: 230vh;
    right: 60vw;
    width: 100%;
}

.darkBlue2{
    height: 100vh; 
    background:#0039A6;
    position: absolute;
    top: 230vh;
    left: 40vw;
    width: 70px;
}

.darkBlue3{
    height: 70px; 
    background:#0039A6;
    position: absolute;
    top: 330vh;
    left: 40vw;
    width: 60%;
}

.blue1{
    height: 70px; 
    background:#00ADD0;
    position: absolute;
    top: 290vh;
    left: 0vw;
    width: 100%;
}


ul{
    flex-direction: row;
    margin-top: 48px;
    color:rgb(204, 192, 192);
    border-radius: 6px;
    list-style-type: none;
}

li{
    padding: 12px;
}

p{
    color: rgb(0, 0, 0);
}