/* Just to make the demo easier to work with. */
/* *{
    box-sizing: border-box;
} */

body {
	font-family: sans-serif;
	background-color: black;
	padding-top: 1vw;
	color: white;
}

.title{
	width: 100vw;
	height: 100vh;
}

.one{
	background: rgb(47, 103, 193);
    border-radius: 50%;
    width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: 0vw;
	margin-left: 21vw;

}

.two{
	background: rgb(211, 82, 68);
    border-radius: 50%;
	width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: -35vw;
	margin-left: 41vw;
}

.three{
	background: rgb(230, 255, 71);
    border-radius: 50%;
	width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: -17vw;
	margin-left: 31vw;
}

h1 { 
	font-size: 12vw; 
	text-align: center;
	color: white;
	justify-content: center;
	margin-top: -31vw;
	position: relative;
	font-family: groupie-gloss, sans-serif;
}

h5{
	font-size: 2.5vw; 
	text-align: right;
	color: white;
	margin-top: -33vw;
	margin-right: 4vw;
	font-family: groupie-gloss, sans-serif;
}

p{
	font-family: "mrs-eaves-xl-serif-narrow", serif;
}

.gallery{
    display: flex;
	flex-wrap:wrap;
	/* flex: 100%; */
    max-width: 100%;
	padding: 0 10vw;
	align-items: center;
    /* grid-gap: 1vw;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr)); */
}

.gallery-img{
    width: 20vw;
	padding: 0 .25vw;
    vertical-align: middle;
    opacity: 0.9;
    filter:grayscale(100%);
	border-radius: 2%;
}

.gallery-img:hover{
    opacity: 1;
    filter: grayscale(0);
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4.25vw;
	padding-top: 53vw;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 .25vw;
}

/* .column img{
    margin-top: .5vw;
    vertical-align: middle;
    width: 100%;
    opacity: 0.9;
    filter:grayscale(100%);
	border-radius: 2%;
} */

/* .column img:hover{
    opacity: 1;
    filter: grayscale(0);
} */

.scene {
	display: inline-block;
	width: 200px;
	height: 260px;
	margin: 40px 0;
	perspective: 600px;
  }
  
  .card {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transform-style: preserve-3d;
	transform-origin: center right;
	transition: transform 1s infinite;
  }
  
  .card.is-flipped {
	transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 2.5vw;
	color: white;
	text-align: center;
	font-size: 1.3vw;
  	font-family: "mrs-eaves-xl-serif-narrow", serif;
	backface-visibility: hidden;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	border-radius: 2%;
  }
  
  .card__face--back {
	background: slateblue;
	transform: rotateY(180deg);
  }