/* Just to make the demo easier to work with. */
/* *{
    box-sizing: border-box;
} */

body {
	font-family: sans-serif;
	background-color: black;
	padding-top: 1vw;
	color: white;
}

.title{
	width: 100vw;
	height: 100vh;
}

.one{
	background: rgb(47, 103, 193);
    border-radius: 50%;
    width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: 0vw;
	margin-left: 21vw;

}

.two{
	background: rgb(211, 82, 68);
    border-radius: 50%;
	width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: -35vw;
	margin-left: 41vw;
}

.three{
	background: rgb(230, 255, 71);
    border-radius: 50%;
	width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: -17vw;
	margin-left: 31vw;
}

h1 { 
	font-size: 12vw; 
	text-align: center;
	color: white;
	justify-content: center;
	margin-top: -31vw;
	position: relative;
	font-family: groupie-gloss, sans-serif;
}

h5{
	font-size: 2.5vw; 
	text-align: right;
	color: white;
	margin-top: -33vw;
	margin-right: 4vw;
	font-family: groupie-gloss, sans-serif;
}

.gallery{
    display: flex;
	flex-wrap: wrap;
    max-width: 100%;
	align-items: stretch;
	padding: 0 3vw;
	justify-content: center;
}

.scene--card{
	align-items: stretch;
}

.scene {
	display: inline-block;
	width: 17vw;
	height: 20vw;
	/* margin: .25vw; */
	perspective: 600px;
	filter:grayscale(100%);
	opacity: 0.9;
  }

  .scene:hover{
	opacity: 1;
    filter: grayscale(0);
}

/* .gallery-img{
    width: 23vw;
	height: 100%;
	padding: .25vw;
    vertical-align: middle;
    opacity: 0.9;
    filter:grayscale(100%);
	border-radius: 2%;
	overflow: auto;
} */


.card{
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-origin: center right;
	transition: transform 1s infinite;
}

.card_face{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card.is-flipped {
	transform: translateX(-100%) rotateY(-180deg);
  }


/* .card-front{
	backface-visibility: hidden;
} */

.gallery-img{
	position: relative;
	width: 17vw;
	height: 20vw;
	padding: .25vw;
	border-radius: 3%;
	z-index: 10;
}

.card-back{
	transform: rotateY(180deg);
	background: rgb(47, 103, 193);
	border-radius: 3%;
}

.card-back p{
	font-family: "mrs-eaves-xl-serif-narrow", serif;
	font-size: 1.7vw;
	padding: .7vw;
	text-align: left;
}



/* .card-front{
	filter:grayscale(100%);
	opacity: 0.9;
} */



/* .gallery-img img{
	object-fit: cover;

} */

/* .gallery-img:hover{
    opacity: 1;
    filter: grayscale(0);
} */


/* .scene {
	display: inline-block;
	width: 200px;
	height: 260px;
	margin: 40px 0;
	perspective: 600px;
  }
  
  .card {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transform-style: preserve-3d;
	transform-origin: center right;
	transition: transform 1s infinite;
  }
  
  .card.is-flipped {
	transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 2.5vw;
	color: white;
	text-align: center;
	font-size: 1.3vw;
  	font-family: "mrs-eaves-xl-serif-narrow", serif;
	backface-visibility: hidden;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	border-radius: 2%;
  }
  
  .card__face--back {
	background: slateblue;
	transform: rotateY(180deg);
  } */

  /* .column img{
    margin-top: .5vw;
    vertical-align: middle;
    width: 100%;
    opacity: 0.9;
    filter:grayscale(100%);
	border-radius: 2%;
} */

/* .column img:hover{
    opacity: 1;
    filter: grayscale(0);
} */