/* Just to make the demo easier to work with. */
/* *{
    box-sizing: border-box;
} */

body {
	font-family: sans-serif;
	background-color: black;
	padding-top: 1vw;
}

.one{
	background: rgb(47, 103, 193);
    border-radius: 50%;
    width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: 0vw;
	margin-left: 21vw;

}

.two{
	background: rgb(211, 82, 68);
    border-radius: 50%;
	width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: -35vw;
	margin-left: 41vw;
}

.three{
	background: rgb(230, 255, 71);
    border-radius: 50%;
	width: 35vw;
    height: 35vw;
	opacity: 80%;
	margin-top: -17vw;
	margin-left: 31vw;
}

h1 { 
	font-size: 12vw; 
	text-align: center;
	color: white;
	justify-content: center;
	margin-top: -31vw;
	position: relative;
	font-family: groupie-gloss, sans-serif;
}

h5{
	font-size: 2.5vw; 
	text-align: right;
	color: white;
	margin-top: -33vw;
	margin-right: 4vw;
	font-family: groupie-gloss, sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4.25vw;
	padding-top: 53vw;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 .25vw;
}

.column img{
    margin-top: .5vw;
    vertical-align: middle;
    width: 100%;
    opacity: 0.9;
    filter:grayscale(100%);
	border-radius: 2%;
}

.column img:hover{
    opacity: 1;
    filter: grayscale(0);
}

/* img {
	cursor: pointer;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	transition: all 0.3s ease;
  
	&:hover {
	  transform: scale(1.05);
	}
  
	&:before {
	  position: relative;
	  background: #ccc;
	  z-index: 1;
	  color: black;
	  content: attr(alt);
	  display: grid;
	  place-items: center;
	}
  }
  
  .load-image {
	display: block;
	background: #ccc;
	height: 400px;
	width: 100%;
	border-radius: 15px;
	display: grid;
	align-items: center;
	text-align: center;
	text-decoration: none;
	color: black;
	opacity: 0.7;
	transition: all 0.3s ease;
  
	&:hover {
	  opacity: 1;
	}
  } */

